* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family:'Verdana';
    font-weight: bold;
}
body{
    background-color: rgb(181,181,204);
}
a {
  text-decoration: none;
  color: inherit;
}

.main-workspace{
    display: flex;
    flex-direction: row;
}

.tileset-container{
    background-color: aliceblue;
    
    border: 1px solid darkgreen;

    min-width: 244px;
    height: 100%;
    max-height: 640px;

    overflow: scroll;
}

.map-container{
    background-color: darkgray;
    
    border: 1px solid darkmagenta;

    width: 100%;
    height: 100%;

    overflow: scroll;
}