* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family:'Verdana';
    font-weight: bold;
}
body{
    background-color: rgb(181,181,204);
}
a {
  text-decoration: none;
  color: inherit;
}

.main-workspace{
    display: flex;
    flex-direction: row;
}

.tileset-container{
    background-color: aliceblue;
    
    border: 1px solid darkgreen;

    min-width: 210px;
    height: 100%;
    max-height: 640px;

    overflow-y: scroll;
}

.map-container{
    background-color: rgb(148, 148, 148);
    
    border: 1px solid darkmagenta;

    max-width: 100%;
    height: 100%;

    overflow: scroll;
}
#map{
    background-color: darkgray;
}

.options-container{
    display: flex;
    flex-direction: row;
    column-gap: 20px;

    padding: 2px;
}
.toolbar{
    display: flex;
    flex-direction: row;
    column-gap: 2px;
}
.options-container button{
    border: 2px solid black;
    border-radius: 2px;

    width: 80px;

    cursor: pointer;
}
.options-container button:hover{
    background-color: rgb(212, 212, 212);
}
.options-container button.selected{
    background-color: rgb(192, 192, 192);
}